<div class="row">
  <div class="col-md-12 col-sm-12">
    <div class="index_user">
      <%= image_tag("bg_accueil-page1.jpg") %>
      <%= image_tag("bg_accueil-page2.jpg") %>
    </div>
  </div>
</div>