<div class="row index_image">
  <div class="col-md-12 col-sm-12">
    <%= image_tag("bg_accueil-page1.jpg") %>
  </div>
  <div class="col-md-12 col-sm-12">
    <%= image_tag("bg_accueil-page2.jpg") %>
  </div>
</div>