<div class="user_bg">
  <div class="row show avatar user_avatar">
      <%= image_tag @qr %>
      <p><%= @user.first_name %></p>
      <p><%= @user.email %></p>
  </div>
</div>
<div class ="row user_show">
  
  <div class=" row show user_info cvisite">
    <a href="#"><i class="fa fa-users radius"></i><div class="user_element">
      Mes contacts
    </div></a>
  </div>
  <div class=" row show user_info mcontact">
    <a href="#"><i class="fa fa-qrcode radius"></i><div class="user_element">
      <%= link_to 'Ma carte de viste', user_contacts_path  %></a>
    </div>
  </div>

</div>