<table class="one-col-bg" style="border-collapse: collapse;border-spacing: 0;width: 100%;">
            <tbody><tr>
              <td style="padding: 0;vertical-align: middle;" align="center">
                <table class="one-col centered column-bg" style="border-collapse: collapse;border-spacing: 0;Margin-left: auto;Margin-right: auto;background-color: #fff;width: 600px;table-layout: fixed;" emb-background-style="">
                  <tbody><tr>
                    <td class="column" style="padding: 0;vertical-align: middle;text-align: left;">
                      <div><div class="column-top" style="font-size: 40px;line-height: 40px;transition-timing-function: cubic-bezier(0, 0, 0.2, 1);transition-duration: 150ms;transition-property: all;">&nbsp;</div></div>
                        <table class="contents" style="border-collapse: collapse;border-spacing: 0;table-layout: fixed;width: 100%;">
                          <tbody><tr>
                            <td class="padded" style="padding: 0;vertical-align: middle;padding-left: 56px;padding-right: 56px;word-break: break-word;word-wrap: break-word;">
                              
            <div style="line-height:10px;font-size:1px">&nbsp;</div>
          
                            </td>
                          </tr>
                        </tbody></table>
                      
                        <table class="contents" style="border-collapse: collapse;border-spacing: 0;table-layout: fixed;width: 100%;">
                          <tbody><tr>
                            <td class="padded" style="padding: 0;vertical-align: middle;padding-left: 56px;padding-right: 56px;word-break: break-word;word-wrap: break-word;">
                              
            <h3 style="font-style: normal;font-weight: 400;Margin-bottom: 0;Margin-top: 0;font-size: 16px;line-height: 24px;font-family: &quot;PT Serif&quot;,Georgia,serif;color: #788991;text-align: center;">Bonjour, <%= @_assigns["contact"].first_name %></h3>
            <h1 style="font-style: normal;font-weight: 400;Margin-bottom: 0;Margin-top: 14px;font-size: 22px;line-height: 30px;font-family: Ubuntu,sans-serif;color: #3e4751;text-align: center;">confirmation de votre inscription</h1><p style="font-style: normal;font-weight: 400;Margin-bottom: 22px;Margin-top: 18px;font-size: 13px;line-height: 22px;font-family: &quot;PT Serif&quot;,Georgia,serif;color: #7c7e7f;"><span>Pour rappel votre identifiant est votre mail, et votre mot de passe est : <%= @password %>&nbsp;</span></p>
          
                            </td>
                          </tr>
                        </tbody></table>
                      
                        <table class="contents" style="border-collapse: collapse;border-spacing: 0;table-layout: fixed;width: 100%;">
                          <tbody><tr>
                            <td class="padded" style="padding: 0;vertical-align: middle;padding-left: 56px;padding-right: 56px;word-break: break-word;word-wrap: break-word;">
                              
            <div class="divider" style="Margin-bottom: 22px;Margin-top: 0;font-size: 1px;line-height: 1px;width: 13px;background-color: #c2c2d0;">&nbsp;</div>
          
                            </td>
                          </tr>
                        </tbody></table>
                      
                        <table class="contents" style="border-collapse: collapse;border-spacing: 0;table-layout: fixed;width: 100%;">
                          <tbody><tr>
                            <td class="padded" style="padding: 0;vertical-align: middle;padding-left: 56px;padding-right: 56px;word-break: break-word;word-wrap: break-word;">
                              
            <div style="line-height:5px;font-size:1px">&nbsp;</div>
          
                            </td>
                          </tr>
                        </tbody></table>
                      
                        <table class="contents" style="border-collapse: collapse;border-spacing: 0;table-layout: fixed;width: 100%;">
                          <tbody><tr>
                            <td class="padded" style="padding: 0;vertical-align: middle;padding-left: 56px;padding-right: 56px;word-break: break-word;word-wrap: break-word;">
                              
            
<h2 class="size-16" style="font-style: normal;font-weight: bold;Margin-bottom: 0;Margin-top: 0;font-size: 16px;line-height: 24px;font-family: Ubuntu,sans-serif;color: #3e4751;"><strong style="font-weight: bold;">What does this mean for me?</strong></h2><p style="font-style: normal;font-weight: 400;Margin-bottom: 0;Margin-top: 16px;font-size: 13px;line-height: 22px;font-family: &quot;PT Serif&quot;,Georgia,serif;color: #7c7e7f;">Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié.</p><p style="font-style: 
normal;font-weight: 400;Margin-bottom: 22px;Margin-top: 22px;font-size: 13px;line-height: 22px;font-family: &quot;PT Serif&quot;,Georgia,serif;color: #7c7e7f;">If you're already a Payback user, all you have to do is update your app and enter in your Co.Banking login details. If you're not already using Payback, feel free to give it free trial and see how easy it is to start making payments. For more information, please check out our official blog.&nbsp;</p>
          
                            </td>
                          </tr>
                        </tbody></table>
                      
                        <table class="contents" style="border-collapse: collapse;border-spacing: 0;table-layout: fixed;width: 100%;">
                          <tbody><tr>
                            <td class="padded" style="padding: 0;vertical-align: middle;padding-left: 56px;padding-right: 56px;word-break: break-word;word-wrap: break-word;">
                              
            <div class="btn" style="Margin-bottom: 22px;Margin-top: 0;text-align: center;">
              <!--[if !mso]--><a style="border-radius: 3px;display: inline-block;font-size: 14px;font-weight: 700;line-height: 24px;padding: 13px 35px 12px 35px;text-align: center;text-decoration: none !important;transition: opacity 0.2s ease-in;font-family: &quot;PT Serif&quot;,Georgia,serif;background-color: #4eaacc;color: #fff;" href="http://test.com" data-width="198" target="_blank">SE CONNECTER A LA PLATEFORME</a><!--[endif]-->
            <!--[if mso]><v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" href="http://test.com" style="width:268px" arcsize="7%" fillcolor="#4EAACC" stroke="f"><v:textbox style="mso-fit-shape-to-text:t" inset="0px,12px,0px,11px"><center style="font-size:14px;line-height:24px;color:#FFFFFF;font-family:Georgia,serif;font-weight:700;mso-line-height-rule:exactly;mso-text-raise:4px">READ THE FULL BLOG POST</center></v:textbox></v:roundrect><![endif]--></div>
          
                            </td>
                          </tr>
                        </tbody></table>
                      
                        <table class="contents" style="border-collapse: collapse;border-spacing: 0;table-layout: fixed;width: 100%;">
                          <tbody><tr>
                            <td class="padded" style="padding: 0;vertical-align: middle;padding-left: 56px;padding-right: 56px;word-break: break-word;word-wrap: break-word;">
                              
            <p style="font-style: normal;font-weight: 400;Margin-bottom: 22px;Margin-top: 0;font-size: 13px;line-height: 22px;font-family: &quot;PT Serif&quot;,Georgia,serif;color: #7c7e7f;">Admin,<br>
</p>
          
                            </td>
                          </tr>
                        </tbody></table>
                      
                        <table class="contents" style="border-collapse: collapse;border-spacing: 0;table-layout: fixed;width: 100%;">
                          <tbody><tr>
                            <td class="padded" style="padding: 0;vertical-align: middle;padding-left: 56px;padding-right: 56px;word-break: break-word;word-wrap: break-word;">
                              
              <div class="image" style="font-size: 0;mso-line-height-rule: at-least;font-style: normal;font-weight: 400;Margin-bottom: 0;Margin-top: 0;font-family: &quot;PT Serif&quot;,Georgia,serif;color: #7c7e7f;" align="left">
               <span class="image-frame" style="border-style: solid;border-width: 8px;display: inline-block;font-size: 12px;background-color: #fff;border-color: #f2efe9;"><img style="border: 0;-ms-interpolation-mode: bicubic;display: block;max-width: 160px;" src="https://i1.createsend1.com/ei/i/6D/5F3/54F/044406/csfinal/signature4cropped.png" alt="" width="160" height="107"></span>
              </div>
            
                            </td>
                          </tr>
                        </tbody></table>
                      
                      <div class="column-bottom" style="font-size: 40px;line-height: 40px;transition-timing-function: cubic-bezier(0, 0, 0.2, 1);transition-duration: 150ms;transition-property: all;">&nbsp;</div>
                    </td>
                  </tr>
                </tbody></table>
              </td>
            </tr>
          </tbody></table>