/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_bootstrap.min
 *= require_self
 *= require font-awesome
 */

body {
	background-color: #255804;
	color: black;
}

.style_form {
	font-size: 70px;
}

.nav {
	height: 120px;
	font-size: 50px;
}
.field {
	background-color: #fff;
  width: 75%;
  margin: 30px auto;
}
.bordure {
	background-color: white;
	height: 220px;
}

.navbar-brand{
	font-size: 70px;
}

h2 {
	font-size: 100px;
}

a {
  margin-top: 30px;
}

.navbar-toggle .icon-bar {
    border-radius: 1px;
    display: block;
    height: 2px;
    width: 22px;
}
button, html input[type=button], input[type=reset], input[type=submit]  {
	border-radius:70px;
	/*border:5px solid #f2edf2;*/
	height: 200px;
	display:inline-block;
	cursor:pointer;
	color: black;
	font-family: Georgia;
	font-size:60px;
	padding:19px 150px;
	text-decoration:none;
	background-color:transparent;
	position:relative;
	top:1px;

}
.field .fa{
	color: #255804;
	padding: 0 10px;
}
.actions{
	text-align: center;
}