/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_bootstrap.min
 *= require_self
 *= require font-awesome
 */

body {
	background-color: #4BA90F;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: black;
}

.style_form {
	font-size: 70px;
}

.nav {
	height: 120px;
	font-size: 50px;
}
.field {
	background-color: #fff;
  width: 75%;
  margin: 30px auto;
}
<<<<<<< HEAD
=======
/*.bordure {
	background-color: white;
	height: 220px;
}*/
>>>>>>> ef5dd660e96323e4aa4623683c0646cfb410dbf3

.navbar-brand{
	font-size: 70px;
}

h2 {
	font-size: 100px;
	text-align: center;
}

a {
  margin-top: 30px;
  font-size: 60px;
}

.navbar-toggle .icon-bar {
    border-radius: 1px;
    display: block;
    height: 2px;
    width: 22px;
}
button, html input[type=button], input[type=reset], input[type=submit]  {
	border-radius:70px;
	/*border:5px solid #f2edf2;*/
	height: 200px;
	display:inline-block;
	cursor:pointer;
	color: black;
	font-family: Georgia;
	font-size:60px;
	padding:19px 150px;
	text-decoration:none;
	background-color:transparent;
	position:relative;
	top:1px;

}
.field .fa{
	color: #4BA90F;
	padding: 0 10px;
}
.actions{
	text-align: center;
}
input, input:focus{
	border: 0;
	-moz-border: 0;
	-o-border: 0;
	-webkit-border: 0;
}
input[type=submit]{
	border:5px solid #f2edf2;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.new_contact input{
	width: 75%;
}
<<<<<<< HEAD

=======
.user_info{
	width: 75%;
	margin: 0 auto;
	/*border: 1px solid black;*/
	border-bottom: 3px solid #B5AFAF;
	padding: 10px;
}
.user_show{
	background-color: #fff;
	font-size: 70px;
}
.user_avatar{
	width: 25%;
	margin: 0 auto;
}
.user_element{
	width: 70%;
	float: right;
	padding: 20px;
}
.row.show.user_info.cvisite {
    color: #F58B00;
}
.radius{
	border-radius: 50%;
  border: 5px solid;
  padding: 50px;
}
.row.show.user_info.mcontact{
	color: #EF0F0F;
}
.user_bg {
    background-image: url(https://images.duckduckgo.com/iu/?u=http%3A%2F%2Fmedia-cdn.tripadvisor.com%2Fmedia%2Fphoto-s%2F01%2F2a%2F72%2F5b%2Fmoutiers-au-perche.jpg&f=1);
    background-size: cover;
}
>>>>>>> ef5dd660e96323e4aa4623683c0646cfb410dbf3
