<div class="footer">
  <div class="inner">
    <p>© <a href="#">Pays Perche</a>, by <a href="#">wcs</a>.</p>
    <p>
      <i class="fa fa-facebook-square"><a href="#"></a></i><i class="fa fa-twitter-square"><a href="#"></a></i>
    </p>
  </div>
</div>